#General build artifacts
*.mk
*.o
*.a
*.elf
*.hex
*.axf
*.d
*.lst
*.map
*.plg
*.lnp
*.crf
*.tra
*.sct
*.bak
*.dep
Debug/
*.exe
Release/

#MDK-ARM
*.__i
*.htm
*.uvgui.*
*.uvopt
*.axf

#Eclipse
.metadata

#Mac
.DS_Store

#don't ignore debug.c
!HardwareSupport/src/debug/
