.mstate {
	background-color: #000080;
	max-width: 1050px;
	height: 120px;
	padding: 4px;
	margin: 20px 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.mstate ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.mstate li {
	float: left;
	width: 25%;
	height: 120px;
	background-color: #f1f1f1;
	text-align: center;
	transition: 0.5s;
}

.mstate li:hover {
	background-color: #fefefe;
}

.mstate table {
	width: 80%;
	height: 100%;
	font-size: 1.25em;
}

.mstate table th {
	height: 30px;
}

.mstate input {
	height: 100%;
	width: 100%;
	border: none;
	background-color: #4CAF50; /* Green */
	color: white;
	font-size: 1.25em;
}

.mstate input:hover {
	background-color: #b8e0b9;
	color: black;
}

.txtcontroll {
	display: inline-block;
	padding: 2px 5px;
	width: 60%;
	height: 20px;
	border: 4px solid green;
	border-radius: 10px;
}

.mqttOnline {
	background-color: green;
	color: white;
}

.mqttOffline {
	background-color: red;
	color: white;
}

.hider {
	background-color:#f1f1f1;
	border: 4px solid #f1f1f1;
	color: #9a9a9a;
	max-width: 1050px;
	height: 50px;
	line-height: 50px;
	text-indent: 20px;
}

#mqttcred {
	max-width: 1050px;
}

#mqttcred table {
	width: 100%;
	border-collapse: collapse;
}

#mqttcred td {
	height: 40px;
	padding: 0px 0px 0px 30px;
	border-bottom: 1px solid #f1f1f1;
	vertical-align: middle;
}

#mqttcred tr:hover {
	background-color: #f4f4f4;
}